h1, .title {
  font-size: 4rem;
  color: grey;
}

h1, .title, .card-title, .selected{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.selected-customer-name, .movie {
  color: red;
}

.jumbotron  {
  background-color: #f7c7c3;
}

.jumbotron .btn {
  align-items: bottom;
}

li {
  list-style: none;
  margin: 50px;
}

img {
  height: 100px;
  width: auto;
}

.card {
  height: 600px;
  margin-top: 50px;
  border-style: none;
}

.card > * {
  text-align: center;
}

.card-body > img {
  margin-bottom: 20px;
  
}

.card > .btn {
  margin-top: 20px;
}

.btn-primary {
  background-color: red;
  border-color: red;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: red;
  border-color: red;
}

.card > .btn-primary, .card {
  background-color: #f7c7c3;
  border-color: #f7c7c3;
}

.card > .btn-primary:hover, .card > .btn-primary:active, .card > .btn-primary:focus {
  background-color: #f7c7c3;
  border-color: #f7c7c3;
}


